.bar-chart {
    -fx-alternative-row-visible: false;
    -fx-alternative-column-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-border-color: transparent;
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-labels-visible: false;
}
.axis-label {
    -fx-text-fill: transparent;
}
.default-color1.chart-bar {

}
.default-color0.chart-bar {
    -fx-background-color:linear-gradient(from 0% 100% to 100% 0%,  rgba(17, 255, 0, 0.28),rgb(200, 0, 255));
}


.button{
    -fx-background-color: #dedede;
}

.menu-button:hover{
    -fx-background-color: linear-gradient(to top,transparent, gray);
}
.root { -fx-background-color: transparent; }
